.productView{
    overflow: hidden;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    display: flex;
    flex-direction: column;
    min-height:30em ;
    max-height: 30em;
}

.flexprice{
    margin: 0em 0em 1em 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.imageName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
}



.products{
    margin: 3em 0em;
    display: flex;
    justify-content: center;
    width: 100%;
}

.prdct{
    width: 95%;
  }

.addtobasket{
      font-size: 0.7em;
      padding: 1em 1em;
      border-radius: 10px;
      background-color:#3d5ec9 ;
      color: white;
      border: none;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.addtobasket:hover{
    padding: 0.5em 1em;
    background-color:white ;
    color: #3d5ec9 ;
    cursor: pointer;
}
