.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background{
    background-image: url("../../../public/images/twasat.png");
    background-repeat: no-repeat;
    background-size: cover;
  /* Add the blur effect */
  filter: blur(25px);
  -webkit-filter: blur(25px);
  width: 100%;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  
}


.PrincipalDivSignIn{
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 95vh;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.lock{
    transform: scale(1.5);
    padding: 0.6em 0.6em 0.6em 0.6em;
    border-radius: 50%;
    background-color: #3d5ec9;
    color: white;
    margin: 0em 0em 1.5em 0em;
}





.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 80%;
    margin: 1.5em 0em 0.5em 0em;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 25px;
}

  
.icon {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding: 10px;
    background: #fff;
    color: #3d5ec9;
    border-right:none;
    min-width: 50px;
    text-align: center;
    font-size:20px;
}
  
.input-field {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    font-size:1em;
    padding: 5px;
    outline: none;
    border:none;
}
    
.input-field::placeholder {
      color: gray;
      font-size: 0.8em;
}

.forgot_div{
    font-size: 0.8em;
    color: grey;
    width: 76%;
    display: flex;
    justify-content: right;
}

.SignInButton{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    margin: 1em 0em 0.5em 0em ;
    border-radius: 25px;
    height: 3em;
    width: 50%;
    font-size: 1em;
    background-color: #3d5ec9;
    color: white;
}
.SignInButton:hover{
    transition: 0.5s;
    height: 2.8em;
    width: 40%;
    background-color: white;
    color: #3d5ec9;
}

.DontHaveAnAccount{
    font-size: 1em;
    margin: 0em 0em 3em 0em;
}

.signInUsing{
display: flex;
margin: 1.5em 0em 2em 0em;

}
.googleicon{
    transform: scale(1.2);
    color: white;
    border-radius: 50%;
   padding: 0.8em;
   background-color: red;
}

.facebookicon{
    text-decoration: none;
    transform: scale(1.15);
    padding: 0.8em 1.5em 0em 1.5em;
    margin: 0em 1em;
    background-color: blue;
    color: white;
    border-radius: 50%;
}

.twittericon{
    transform: scale(1.2);

    border-radius: 50%;
    padding: 0.8em;

    color: white;
background-color: #1DA1F2;
}

.Copyright{
    color: grey;
    font-size: 0.8em;
}